/* color scheme */
/*
#ABF26D cards
#92F23C
#469400
#67AB2B background
#FF0000 stars
*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: rgba(153, 255, 102, 0.3); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(135deg, rgba(103, 230, 103, 0.3) 0%, rgba(96, 214, 167, 0.9) 80%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(70, 148, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #008500	;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(70, 148, 0, 0.8);
    transition: transform 0.2s;
}


.deck .card.open {
    transform: scale(1.1);
    background: #00CC00;
    cursor: default;
    animation-name: opencard;
    animation-duration: 0.1s;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #39E639;
    font-size: 33px;
    animation-name: rotatecard;
    animation-duration: 2s;
    transform: scale(1);
}

@keyframes rotatecard {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

@keyframes opencard {
  from {
    background-color: inherit;
    transform: scale(1);
  }
  to {
    background-color: #00CC00;
    transform: scale(1.1);
  }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    max-width: 450px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: #FF3300;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .timer {
    text-align: center;
}

/*
 * Display rating
 */
.rating {
  display: none;
  width: 100%;
  height: 100%;
}

.rating.display {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: rgba(103, 230, 103, 0.3);
  line-height: 3em;
  text-align: center;
  text-shadow: 1px 0 1px #007143;
}

.message {
  margin: auto;
  margin-bottom: 0;
  font-size: 30px;
}

.rate {
  margin: 10px auto;
  font-size: 20px;
}

.new-game {
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  width: 150px;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 5px 2px 20px 0 rgba(70, 148, 0, 0.8);
}

@media screen and (max-width: 400px) {
  .deck {
    max-width: 100%;
    min-height: 100px;
    padding: 10px;
  }
  .deck .card {
    height: 50px;
    width: 50px;
    margin: 10px;
  }
  .deck .card.show {
    font-size: 42px;
  }
  .deck .card.match {
    font-size: 42px;
  }
  .score-panel {
      width: 90%;
  }
}
